@charset "utf-8";
.header_inner{
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.container{
  display: flex;
  justify-content: space-between;
}

.gray{
  color: #777;
  margin: 15px;
  display: inline-block;
}

.btn{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #6ba7ed;
  color: #fff;
  font-size: 12px;
  padding: 12px 14px;
  height: 10px;
  text-align: center;
}

.btn:hover{
  color: #333;
  animation: 0.3s;
}

.Toggle{
  display: none;
}

.content{
  height: 15px;
}

.background_img{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  width: 1100px;
  height: 830px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_title{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7ed;
  text-align: center;
  margin-top: 400px;
}

.sub_title{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 400px;
  text-align: center;
}

.inner_work_inner{
  width: 1100px;
  height: 255px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #e3f2fd;
}

.pc_img{
  width: 250px;
  height: auto;
  padding-top: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: 0px auto;
  background-color: #e3f2fd;
  grid-column: 1/2;
  grid-row: 1/2;
}

.work_text_area{
  background-color: #e3f2fd;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.work_title{
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
  padding-top: 70px;
  text-align: center;
}

.work_text{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}

.skill_innner{
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.skills{
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.skill_box{
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.skill_item{
  width: 300px;
  height: 300px;
  background-image: url(../img/skills/skills_1.png);
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 100px;
  background-size: contain;
  opacity: 0.7;
}

.skill_item:hover{
  opacity: 1.0;
}

.skill_item:nth-child(2){
  background-image: url(../img/skills/skills_2.png);
  margin-left: 100px;
}

.skill_item:nth-child(3){
  background-image: url(../img/skills/skills_3.png);
  margin-left: 100px;
}

.skill_item:nth-child(4){
  background-image: url(../img/skills/skills_4.png);
}

.skill_item:nth-child(5){
  background-image: url(../img/skills/skills_5.png);
  margin-left: 100px;
}

.skill_item:nth-child(6){
  background-image: url(../img/skills/skills_6.png);
  margin-left: 100px;
}

.plan_innner{
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.plan{
  background-color: #d0dfea;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
  height: 450px;
}

.cell_table{
  table-layout: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cell_table th{
  background: #6ba7ed;
  font-size: 16px;
  line-height: 26px;
}

.cell_table th,.cell_table td{
  border-left: 2px solid #fff;
  padding: 10px;
}

.cell_table td{
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.cell_table tr{
  background: #f9f9f9;
}

.cell_table tr:nth-child(even){
  background: #e0efff;
}

.icon_innner{
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.icon_box{
  background: #e3f2fd;
  display: flex;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.icon{
  color: #8c8c8c;
  width: 185px;
  font-size: 40px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  text-align: center;
  margin: 0px auto;
}

.icon:hover{
  color: #fff;
  animation: 0.5s;
}

.footer_inner{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.flex_box4{
  display: block;
  background: #cfd8dc;
}

.copyright{
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  letter-spacing: 0.5px;
  text-align: right;
}

@media (min-width:1101px) and (max-width:1199px){
.inner{
  width: 97%;
}

.inner_work_inner{
  display: flex;
  flex-direction: column;
  height: auto;
}

.work_text{
  padding-bottom: 50px;
}

.skill_box{
  width: 100%;
  flex-direction: column;
}

.skill_item{
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: 300px 300px;
}

.skill_item:nth-child(2){
  margin-left: 0px;
}

.skill_item:nth-child(3){
  margin-left: 0px;
}

.skill_item:nth-child(4){
  margin-top: 80px;
  margin-left: 0px;
}

.skill_item:nth-child(5){
  margin-left: 0px;
}

.skill_item:nth-child(6){
  margin-left: 0px;
  margin-bottom: 50px;
}
}

@media (max-width:767px){
.inner{
  width: 97%;
}

.btn{
  display: none;
}

.Toggle {
  display: block;
  position: fixed;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  right:15px;
}

.Toggle span {
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: solid 4px #333;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.Toggle span:nth-child(1) {
  top:5px;
}

.Toggle span:nth-child(2) {
  top: 18px;
}

.Toggle span:nth-child(3) {
  top: 32px;
}

.main_title{
  font-size: 40px;
}

.sub_title{
font-size: 30px;
}

.inner_work_inner{
  display: flex;
  flex-direction: column;
  height: auto;
}

.work_text{
  padding-bottom: 50px;
}

.skill_box{
  width: 100%;
  margin-left: auto;
  flex-direction: column;
}

.skill_item{
  margin-top: 0px;
  margin-bottom: 0px;
  background-size: 300px 300px;
}

.skill_item:nth-child(2){
  margin-left: 0px;
}

.skill_item:nth-child(3){
  margin-left: 0px;
}

.skill_item:nth-child(4){
  margin-top: 80px;
  margin-left: 0px;
}

.skill_item:nth-child(5){
  margin-left: 0px;
}

.skill_item:nth-child(6){
  margin-left: 0px;
  margin-bottom: 50px;
}

.cell_table{
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.cell_table th{
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.cell_table td{
  font-size: 12px;
  white-space: nowrap;
}

.flex_box3{
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
}
